version: '3.9'
services:
    app:
        build:
            context: .
            dockerfile: ./Dockerfile
        container_name: Arithynet
        volumes:
            - .:/var/www/html
            - node_modules:/var/www/html/node_modules
        ports:
            - 3000:3000
        command: sh -c "yarn build && yarn start"
        tty: true
volumes:
    node_modules: